/* :root {
  --light-purple: #e5dbe9;
}*/
html {
  /* rem单位会相对根元素 <html>标签，一般浏览器默认 1rem = 16px */
  font-size: 16px;
  background-color: var(--el-menu-bg-color);
}
body {
  padding: 0;
  margin: 0;
}
.container {
  text-align: left;
  padding: 5rem 7rem 5rem;
  /* 
  margin: 0 auto;
  max-width: 1152px;
   display: flex;
  flex-direction: row;
  align-items: center; 
   */
  .el-text {
    word-break: break-word;
  }
}

@media (max-width: 836px) {
  html {
    font-size: 10px;
  }
}
