/* :root {
  --light-purple: #e5dbe9;
}*/
html {
  /* rem单位会相对根元素 <html>标签，一般浏览器默认 1rem = 16px */
  font-size: 16px;
  background-color: var(--el-menu-bg-color);
}
body {
  padding: 0;
  margin: 0;
}
.main {
  padding-top: 7rem;
}
.container {
  text-align: left;
  margin: 0 auto;
  max-width: 1280px;
  padding: 5rem 2rem;
  /* 
  min-width: 100px;
   display: flex;
  flex-direction: row;
  align-items: center; 
   */
  .el-text {
    word-break: break-word;
  }
}
.footer {
  height: 40rem;
  overflow: hidden;
  margin-top: -10rem;
}
.skew-background {
  padding-top: 11rem;
  height: 40rem;
}

@media (max-width: 836px) {
  html {
    font-size: 11px;
  }
  .footer {
    height: 56rem;
    margin-top: -10rem;
  }
  .skew-background {
    padding-top: 9rem;
    height: 45rem;
  }
}